

<!-- use assoc array, with ['header']->titel etc -->

<body class="gridcontainer">

   
  <div class="sideL"><!-- emptey --></div>

  <div class="maincontent">
      <div class="nav">{{navigation}}</div>
      <div class="header" style="display:flex;">
         <div style="flex:1;">{{welcome}}</div>
         <div style="flex:0; min-width:78px;"><!-- <button onclick="location.href='{{}}'">Update Book</button>
         <button onclick="location.href='{{deletePath}}'">Delete Book</button> --></div>
      </div>           
      <div class="contentBox">    
              <div class="review">
                <div style="display:flex; flex-direction:row;"><h3 style="flex:1"> Book Libary</h3>
                <span style="flex">
                  <button onclick="location.href = '{{addLibaryPath}}'">Add to Libary</button>
                </span></div>
                
                <hr>
                {{books}}<br>
             </div>  
            
                         
              <div class="synopsis">
                <h3>Latest Discussions</h3><hr>
                <i>Yu-hue! <br>
                    Wanna start a formum and discuss a topic? Use reddit instead, this is not implemeted!<br></i> </div>
             
         
      </div>
      <div class="footer">
          {{footer}}
      </div>
     
  </div>
  <div class="sideR"><!-- emptey --></div>

