

<!-- use assoc array, with ['header']->titel etc -->

<body class="gridcontainer">

   
        <div class="sideL"><!-- emptey --></div>

        <div class="maincontent">
            <div class="nav">{{navigation}}</div>
            <div class="header" style="display:flex;">
               <div style="flex:1;">{{title}}</div>
               <div style="flex:0; min-width:78px;"><button onclick="location.href='{{updatePath}}'">Update Book</button>
               <button onclick="location.href='{{deletePath}}'">Delete Book</button>
               </div>
            </div>           
            <div class="contentBox">    
                    <div class="review">
                      <h3> Information</h3><hr>
                      {{author}}<br>
                    {{release}}<br>
                    {{pages}}</div>  
                  
                               
                    <div class="synopsis">
                      <h3>Synopsis</h3><hr>
                      {{synopsis}}<br></div>
                      
                    <div class="review"><h3> Reviews</h3><hr>
                    
                    <button onclick="location.href='{{crReviewPath}}'">Create review</button><hr>
                    <br>{{reviews}}<br>
                    </div>

                      <div class="synopsis">
                      <h3>Other books in {{tserie}}</h3><hr>
                      {{otherBooks}}<br></div>  


                    <div class="synopsis">
                      <h3>Creator And Editors</h3><hr>
                      {{creator}}<br>
                      {{editor}}</div>


               <form action="addreview.html" method="post"></form>
            </div>
            <div class="footer">
                {{footer}}
            </div>
           
        </div>
        <div class="sideR"><!-- emptey --></div>
 

</body>

</html>