<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>BookTitle - MyBookList</title>
</head>



<!-- use assoc array, with ['header']->titel etc -->

<body class="gridcontainer">

   
  <div class="sideL"><!-- emptey --></div>

  <div class="maincontent">
      <div class="nav">{{navigation}}</div>
      <div class="header" style="display:flex;">
         <div style="flex:1;">{{title}}</div>
         <div style="flex:0; min-width:78px;"><button onclick="location.href='{{updatePath}}'">Update Book</button>
         <button onclick="location.href='{{deletePath}}'">Delete Book</button></div>
      </div>           
      <div class="contentBox">    
              <div class="review">
                <h3> Information</h3><hr>
                {{author}}<br>
              {{release}}<br>
              {{pages}}</div>  
            
                         
              <div class="synopsis">
                <h3>Synopsis</h3><hr>
                {{synopsis}}<br></div>
              <div class="review"><h3> Reviews</h3><hr>
              {{reviews}}<br>
              <button onclick="location.href='../crud/createreview/createreview.php'">Create review</button>
              </div>
         <form action="addreview.html" method="post"></form>
      </div>
      <div class="footer">
          {{footer}}
      </div>
     
  </div>
  <div class="sideR"><!-- emptey --></div>


</body>

</html>
</body>

</html>